.index-page {
    display: flex;
    flex-direction: column;
}

.logo {
 width: 50%;
 height: auto;
 z-index: 3;
 top: -300px;
 left: 170px;
 position: relative;
}

.about-img {
    width: 100%;
    height: auto;
    margin: 15px;
    border-radius: 20px;
}

.btn-lg  i {
    top: 10px;

}

.btn-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, textarea {
    width: 350px !important;
}